body {
    background-color:rgb(41, 42, 42) ;
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    color: aliceblue;
    min-height: 200vh;
    margin: 0;
   
}
/* @media (min-width:768px){
    body{
        font-size: 18px;
}
}
@media (min-width: 1200px) {
    body{
        font-size: 20px;
}
 } */
.main-text{
    width: 50%;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/*style the paragraphs*/
.hidden{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s ease-out, transform 3s ease-out;
}
.visible{
    opacity: 1;
    transition: opacity 3s ease-in;
    transform: translateY(20px);
}
p{
    font-weight: bold;
}
span{
    display: block;
}
.intro-hiroshima1{
    opacity:1;
    transition: opacity 1.5s ease;
}
.intro-hiroshima2{
    opacity: 1;
    transition: opacity 1.5s ease;
}
.intro-hiroshima3, .intro-hiroshima4{
    font-size: 30px;
}